/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
	-----------------------------------------------------------------*/
	@media (min-width: 992px) {

		#header.transparent-header + #slider,
		#header.transparent-header + #page-title.page-title-parallax,
		#header.transparent-header + #google-map,
		#slider + #header.transparent-header {
			top: -100px;
			margin-bottom: -100px;
		}

		#header.transparent-header.floating-header + #slider,
		#header.transparent-header.floating-header + #google-map {
			top: -160px;
			margin-bottom: -160px;
		}

		#header.transparent-header + #page-title.page-title-parallax .container { padding-top: 100px; }

		#primary-menu ul li > a {
			padding-top: 39px;
			padding-bottom: 39px;
		}

		#top-search,
		#top-cart,
		#side-panel-trigger {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		#top-cart .top-cart-content { top: 60px; }

		#header,
		#header-wrap,
		#logo img { height: 100px; }

		#header.sticky-header:not(.static-sticky),
		#header.sticky-header:not(.static-sticky) #header-wrap,
		#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img { height: 60px; }

		#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
			padding-top: 19px;
			padding-bottom: 19px;
		}

		#header.sticky-header:not(.static-sticky) #top-search,
		#header.sticky-header:not(.static-sticky) #top-cart,
		#header.sticky-header:not(.static-sticky) #side-panel-trigger {
			margin-top: 20px !important;
			margin-bottom: 20px !important;
		}

		#header.sticky-header:not(.static-sticky) #top-cart .top-cart-content,
		#header.sticky-header:not(.static-sticky) #primary-menu.sub-title.style-2 > div #top-cart .top-cart-content { top: 40px; }
	}

	.swatch-element{
		float: left;
		margin: 0 10px 10px 0;
	}

	.product input[type="checkbox"], .product input[type="radio"] {
		display: inline;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 40px;
		position: absolute;
		background: transparent;
		outline: none;
		opacity: 0;
	}

	.swatch label {
		float: left;
		min-width: 35px !important;
		height: 35px !important;
		margin: 0;

		background-color: #fff;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		line-height: 35px;
		white-space: nowrap;
		text-transform: uppercase;
		padding-left: 5px;
		padding-right: 5px;
	}
	.border-clazz{
		border : solid 1px #1D3571;
	}
	.border-z{
		border: #d7d7d7 1px solid;
	}
