#logo{
	display: flex;
	justify-content: center;
}
.close-menu{
	font-size: 20px;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.btn-menu{
	border-radius: 50%;
	height: 45px;
	font-size: 20px;
	position: fixed;
	top: 13px;
	left: 95px;
	z-index: 998;
	background-color: #4fa9c3ab;
}

.sidebar-menu{
	background-color: white;
	z-index: 9999;
	display: block;
}

.docs-content{
	margin-left: 200px;
}
.close-group{
	padding-top: 10px;
	padding-right: 30px;
}

.close-group,.btn-menu{
	display: none;
}

.btn-version{
	padding: 0px 50px;
}

label{
	text-transform: capitalize;
}

.modal_download_template{
	position: absolute;
	z-index: 9999;
	top:15%;
	width: 41.5rem;
	transform: translateX(110%);
}
@media screen and (max-width: 600px){
	.modal_download_template{
		transform: none;
		width: auto;
		left: 43px;
	}
	.btn-menu{
		left: 19px;
	}

	.docs-content {
		padding-left:10px;
		margin-left:10px;
	}

	.sidebar-menu{
		display: none;
	}

	.close-group, .btn-menu{
		display: block;
	}

	#slider{
		background: url('/uploads/images/hinhanh.png') center center no-repeat!important;
		background-size: cover !important;
		height: 900px !important;
	}
}